/* src/components/ProductList.css */

.product-list-container {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.shop-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--color-text);
  font-weight: 700;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5rem;
}

.product-card {
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: var(--shadow-light);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-medium);
}

.product-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que este contenedor crezca */
}

.product-name {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-text);
  margin: 0 0 0.5rem 0;
}

.product-description {
  font-size: 0.9rem;
  color: var(--color-dark-gray);
  margin: 0 0 1.5rem 0;
  flex-grow: 1; /* Empuja el precio hacia abajo */
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Empuja el pie de la tarjeta hacia abajo */
}

.product-price {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-primary);
}
